body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(
    to right,
    rgb(0, 255, 234),
    rgb(190, 122, 173)
  ); /* Standard syntax */
}

h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}
h3 {
  color: white;
  text-align: center;
  text-transform: none;
  font-size: 2em;
  letter-spacing: 0.01em;
}

button {
  display: inline-block;
  padding: 0.5em 3em;
  font-size: 1em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  color: black;
  text-align: center;
  transition: all 0.15s;
}

button:hover {
  color: grey;
  border-color: #dddddd;
}

button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}

#text {
  text-transform: lowercase;
  color: "white";
}
